@charset "utf-8";
/*==================================================
*  Author : Tirapant Tongpann
*  Created Date : 28/03/2012 22:00
*  Module : 
*  Description : 
*  Involve People : -
*  Last Updated : 28/03/2012 22:00
==================================================*/
body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #FBFBFB;
}
.ark-example:before,
.ark-example:after {
  content: " ";
  display: table;
}
.ark-example:after {
  clear: both;
}
.ark-example .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}

.num{text-align:right; width:150px;}
.num2{text-align:right; width:150px;}
.dpk, .dtpk, .tpk{text-align:center;}
.txtstatus{background-color:transparent; color:#005C9C; border:0; padding:0; margin:0; width:100%; text-align:center; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.center{text-align:center !important;}
.right{text-align:right !important;}

#View_filter input{padding:4px 4px 3px 4px; margin-right:10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: none; box-shadow: none; border: solid 1px #eeeeee;}
#View_filter input:focus {-webkit-box-shadow: 0 0 3px rgba(102, 175, 233, 0.6); box-shadow: 0 0 3px rgba(102, 175, 233, 0.6);}

.form-group {margin-bottom: 5px; overflow:hidden;}
.form-control {padding:1px 3px; height:28px;}
.form-control:focus{background-color:#f4f4fc;}
.form-horizontal .control-label{padding-right:0;}
.mymenu{top:55px; padding:5px; right:15px; position:fixed; background:white; z-index:5;}
.page-header{margin-top:10px;}
.trlink{cursor:pointer;}
.thmark{background-color: #F5F5F5; font-weight: bold !important;}

.navbar-brand{color:white;}
.nav > li > a:hover, .nav > li > a:focus{background-color:transparent;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background-color:transparent;}
#Brand{color:white;}
.navbar-brand{padding:5px 10px;}

.form-horizontal .control-label {text-align: left;}

.page-header{color:#428bca;}